<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学习wabpack</title>
    <!--在开发环境可以用link标签，生产上无法将静态文件打包，可以在html-webpack-plug中加favicon，meta，等-->
    <!-- <link rel="shortcut icon" href=../static/iconfont/icon_192x192.png> -->
</head>
<body>
    #include("../commonpages/title.html")
    <div><button id="toOtherPage">转到other页面</button></div>
    <img class='img' style="width:100px;height: 100px;" src="../static/image/laobi.png" alt=""><br>
</body>
</html>