@font-face {
    font-family: 'MyFont';
    src:url('../static/iconfont/font.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello{
    font-family: 'MyFont';
    color:red;
}

@media (min-resolution: 2dppx) {
    .image {
      background-image: url('../static/image/laobi.png');
    }
  }